@model dynamic
@using Futurify.Training.Employees.Models
@{
    var employee = (Futurify.Training.Employees.ViewModels.EmployeeViewModel)Model.Model;
}

    

    <table border="1">
        <tr>
            <th>Tên</th>
            <th>Địa chỉ</th>
            <th>tuổi</th>
        </tr>
        <tr>
            <td>@employee.Name</td>
            <td>@employee.Address</td>
            <td>@employee.Age</td>
        </tr>
        
    </table>
    
    

