@model dynamic
@using Futurify.Training.Employees.Models
@{
    var employee = Model.Model;
}
<fieldset>
    <legend>Employees Fields</legend>

    <div class="editor-label">
        <span>@employee.Name</span>
    </div>
    

</fieldset>